.p {
    display: flex;
    justify-content: center;
}

.gallery_body {
    margin: 20px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 80vw;
}

.title {
color: black;
font-family: arial;
margin: 4px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}