.p {
    display: flex;
    justify-content: center;
}

.gallery_body {
    margin: 20px;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 90vw;
}

.title {
color: black;
font-family: arial;
margin: 4px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery_image {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-grow: 2;
    width: 100vw;
    height: auto;
  }