
.search-form, h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3;
}

h1 {
  font-size: 55px;
  font-family: 'Alegreya SC', serif;
}

.bg-img {
  background-image: url('./assets/bbq.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.2;
}

.body {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;

}

.home {
  min-height: 75vh;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  flex-grow: 4;
  width: 100vw;
  height: auto;
  margin: auto;
}